.navbar {
    margin-bottom: 0 !important;
    background: #545FAF;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #eee;
    background: transparent !important;
}

.jumbotron {
    background: #554FAF !important;
}
.panel-height {
    height: 2%; / change according to your requirement/
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

li {
    list-style-type: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#insta {
    background: orangered;
}

#desc {

    background: #fff;
    color: #333;
}

#desc small{
    color: #eee;
}

#twt{
    background: #4099FF;
    color: #fff;
}

#twitterandmap {
    background: #545FAF;
}

#mapdesc {
    color: #fff;
}

#map{
    background: #1BA261;
    color: #fff;
    height: 100%;
}

#googlemap{
    height:300px;
}

.deg {
    font-size: 2em;
    color: #554FAF;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.fw-font {
    font-size: 4em;
}

.fw-font span {
    font-size: 2em;
}

#results {
    margin-top: 20px;
}

#subnav {
    background: #7F9ED3;
}

blockquote {
    font-size: 16px;
}
blockquote footer {
    text-transform: capitalize;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

.ratingText {
    padding: 2px;
    border-radius: 4px;
    padding: 6px 10px;
    color: #fff;
    font-weight: bold;
}

.ratit {
    vertical-align: middle;
}

.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}