.navbar {
    margin-bottom: 0 !important;
    background: #545FAF;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #eee;
    background: transparent !important;
}

.jumbotron {
    background: #554FAF !important;
}
.panel-height {
    height: 2%; / change according to your requirement/
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

li {
    list-style-type: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#insta {
    background: orangered;
}

#desc {

    background: #fff;
    color: #333;
}

#desc img{
    border-radius: 6px;
}

#desc small{
    color: #eee;
}

#twt{
    background: #4099FF;
    color: #fff;
}

#twitterandmap {
    background: #545FAF;
}

#mapdesc {
    color: #fff;
}

#map{
    background: #1BA261;
    color: #fff;
    height: 100%;
}

#googlemap{
    height:300px;
}

.deg {
    font-size: 2em;
    color: #554FAF;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.fw-font {
    font-size: 4em;
}

.fw-font span {
    font-size: 2em;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}