.navbar{
    margin-bottom: 0 !important;
}

.panel-height {
    height: 2%; / change according to your requirement/
}

li {
    list-style-type: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#insta {
    background: orangered;
}
#desc {

    background: #eee;
}

#twt{
    background: blue;
}

#map{
    background: red;
}